

* {
  margin: 0;
  padding: 0;
}

canvas {
  display:block;
}

body {
  margin:0;
}

#ui {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.ui-button {
  background-color: aqua;
  color: white;
  padding: 10;
  pointer-events: all;
}